@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #2563EB;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    padding:0rem 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    color:white;
    border-radius: 0.5rem;
}
.secondary-link
{
    color: var(--primary-color);
    border-radius:0.5rem;
    border:1px solid var(--primary-color);
}
